.wrapper-inner-tab-backgrounds {
    float: left;
    height: 300px;
    width: 950px;
}

.wrapper-inner-tab-backgrounds-first {
    float: left;
    height: 500px;
    width: 43.33%;
}

.wrapper-inner-tab-backgrounds-second {
    float: left;
    height: 500px;
    width: 43.33%;
}

.sim-button {
    line-height: 40px;
    height: 40px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 125px;
    width: 50%;
    cursor: pointer;
}

.button10 {
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
}

.button10 a {
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
    display: block;
}

.button10 span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.button10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.253);
    background-color: rgba(255, 255, 255, 0.253);
}

.button10::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.25);
}

.button10:hover::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
}

.button10:hover::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
}

//------------->>>>
* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    background-color: #1b8bf9;
    padding: 15px 50px;
    border-radius: 5rem;
    box-shadow: 1px 2.9px 16px rgba(27, 139, 249, 0.4);
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    &:hover {
        box-shadow: 3px 4.9px 16px rgba(27, 139, 249, 0.6);
        letter-spacing: 5px;
    }
    &--clicked {
        transition: 3s cubic-bezier(0.01, 1.69, 0.99, 0.94);
        padding: 15px 2px;
        width: 50px;
        color: transparent;
        z-index: -10;
    }
}

.color {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.8s ease;
    border-radius: 50%;
    background-color: transparent;
}

.expanded {
    width: 200%;
    padding-bottom: 200%;
    height: auto;
}

$colors: ( blue: #1b8bf9, orange: #FF6C19, green: #41FF9F, white: #f9f9f9);
$i:0.25s;
@each $colorName,
$color in $colors {
    .color--#{$colorName} {
        background-color: $color;
        transition-delay: ($i);
    }
    $i: $i+0.25s;
}